.container {
  background-color: #161624;
  height: auto;
  color: #ffffff;
  padding: 30px;
}

.countriesListContainer {
  /* border-radius: 20px; */
  height: 40vh;
  overflow-y: scroll;
}

.countriesListItems {
  list-style: none;
  border: 2px solid #334155;
  background-color: #1f1f2f;
  padding: 5px;
  margin-left: 0;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: 500;
}

.activeBtn {
  background-color: #3b82f6;
  color: #fff;
  border: 0;
}
.inactiveBtn {
  background-color: transparent;
  border: 0;
  color: #94a3b8;
}
img {
  width: 200px;
}
.visitedContainer {
  width: 200px;
  margin: 5px;
  background-color: #1f1f2f;
}
li {
  list-style: none;
}
.dflex {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visitedCountries {
  display: flex;
  flex-wrap: wrap;
}
.removeBtn {
  background-color: transparent;
  color: #fff;
  border: 2px solid #94a3b8;
}
p {
  color: #fff;
}
